<phpunit bootstrap="./source/Autoload.php">
    <testsuites>
        <testsuite name="essentials">
            <file>tests/essentials/test-autoloader.php</file>
            <file>tests/essentials/test-base-32.php</file>
        </testsuite>
        <testsuite name="qr-generators">
            <file>tests/qr-generators/test-google-qr.php</file>
        </testsuite>
        <testsuite name="elements">
            <file>tests/elements/test-secret.php</file>
            <file>tests/elements/test-account.php</file>
            <file>tests/elements/test-account-manager.php</file>
            <file>tests/elements/test-validator.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./source</directory>
        </whitelist>
    </filter>
</phpunit>
