<phpunit bootstrap="../source/Autoload.php">
    <testsuites>
        <testsuite name="essentials">
            <file>essentials/test-base-32.php</file>
        </testsuite>
        <testsuite name="elements">
            <file>elements/test-secret.php</file>
        </testsuite>
    </testsuites>
</phpunit>
